@extends('WT/admin/layout')

@block('page-content')

@include('WT/admin/resource')

{# Episode #}
<div data-template='wt-get-episode'>
	<div><a href='#'>{number} - {name} [{aired_at}]</a></div>
</div>

{# Dashboard #}
<div class='page-row'>

	<div class='page-section page-section-content'>
		<div class='wt-search-results'>
			@foreach(Auth::user() -> getSeries() as $serie)
				<div class='wt-search-result wt-seach-result-hover' wt-status-user='1' wt-info='{{$serie -> resource -> source_type}},{{$serie -> resource -> source_name}},{{$serie -> resource -> id}}'>
					<div class='wt-search-title'>{{$serie -> name}}</div>
					<div class='wt-search-img'><img src='{{$serie -> poster() -> getFullPath()}}'></div>
				</div>
			@endforeach

		</div>
	</div>
</div>
@endblock