@extends('WT/admin/layout')

@block('page-content')

@include('WT/admin/resource')

{# Episode #}
<div data-template='wt-get-episode'>
	<div><a href='#'>{number} - {name} [{aired_at}]</a></div>
</div>

{# Dashboard #}
<div class='ly-row'>

	<div class='page-section page-section-content'>
		<div class='wt-calendar'>
			<div class='wt-calendar-header ly-row ly-center'>
				<div class='wt-calendar-move wt-calendar-prev'>
					<form method='GET'>
						<input type='hidden' name='month' value='{{$datetime -> prevMonth() -> getMonth()}}'>
						<input type='hidden' name='year' value='{{$datetime -> prevMonth() -> getYear()}}'>
						<button type='submit' class='button button-action button-primary'>
							<i class="fa fa-arrow-left" aria-hidden="true"></i>
						</button>
					</form>
				</div>
				<div class='wt-calendar-title ly-fill'>
					<h2 class='text-center'>{{$datetime -> format('F')}}</h2>
				</div>
				<div class='wt-calendar-move wt-calendar-prev'>
					<form method='GET'>
						<input type='hidden' name='month' value='{{$datetime -> nextMonth() -> getMonth()}}'>
						<input type='hidden' name='year' value='{{$datetime -> nextMonth() -> getYear()}}'>
						<button type='submit' class='button button-action button-primary'>
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
						</button>
					</form>
				</div>
			</div>
			<hr>
			<table class='wt-calendar-table'>
			<tr class='head'>
				<td>Monday</td>
				<td>Thuesday</td>
				<td>Wendsday</td>
				<td>Thuersday</td>
				<td>Friday</td>
				<td>Saturday</td>
				<td>Sunday</td>
			</tr>
			@foreach($results as $week)
			<tr>
				@foreach($week as $day)
					<td>
						@if($day['datetime'] -> getMonth() == $datetime -> getMonth())
							<div class="wt-calendar-day-container @if($day['datetime'] == $today)wt-current-day@endif">
								<div class='wt-calendar-day'>
									{{$day['datetime'] -> getDay()}}
								</div>
								@foreach($day['data'] as $record)
									<div class='wt-calendar-record'>
										{{$record -> season -> serie -> name}} <br>
										<div class='wt-calendar-record-info'>
										<a href='#'>S{{$record -> season -> number}} - {{$record -> number}}:
										{{$record -> name}}
										</a>
										</div>
									</div>
								@endforeach
							</div>
						@endif
					</td>
				@endforeach
			</tr>
			@endforeach
			</table>
		</div>
	</div>

</div>
@endblock