{# Modal #}
@embed('Admin/admin/__modal','modal-wt-get')
	@block('__class')modal-body-medium@endblock
	@block('id')modal-wt-get@endblock
	@block('title')Information@endblock
	@block('content')
		<div class='modal-wt-get-body'>
		</div>
	@endblock
@endembed

{# Serie #}
<div data-template='wt-get-serie'>
	<img src='{banner}'>
	<h2>{name} <span class='tag tag-action tag-{status_type}'>{status}</span></h2>
	<p>{overview}</p>
	<p><b>DataBase API</b>: {resource_name} | {resource_id}</p>
	<p><b>Last update</b>: {updated_at}</p>
	<a href='#'>Episodes</a>
	<h3>ID Updates</h3>
	<input type='text' class='input-data'>
	<button type='button' class='button button-action button-primary'><i class="fa fa-upload" aria-hidden="true"></i><span>Save changes</span></button>

	<h3>Flag</h3>
	<select class='select-data'>
		<option>To be seen</option>
		<option>In progress</option>
		<option>Seen</option>
	</select>
	<button type='button' class='button button-action button-primary'><i class="fa fa-upload" aria-hidden="true"></i><span>Save changes</span></button>
	<h3>Actions</h3>
	<button type='button' class='button button-action button-primary' wt-sync='series,{id}'><i class="fa fa-refresh" aria-hidden="true"></i><span>Sync DataBase API</span></button>
	<button type='button' class='button button-action button-primary'><i class="fa fa-refresh" aria-hidden="true"></i><span>Check Updates</span></button>
	<button type='button' class='button button-action button-danger' wt-remove='series,{id}'><i class="fa fa-trash" aria-hidden="true"></i><span>Remove</span></button>
	<!--{seasons}-->
</div>

{# Season #}
<div data-template='wt-get-season'>
	<div class='wt-get-season-container'  data-active='0'>
		<div class='wt-get-season no-select'>
			<a href='#'>
				<i class="fa fa-angle-double-right display-0" aria-hidden="true"></i>
				<i class="fa fa-angle-double-down display-1" aria-hidden="true"></i>
				SEASON {number}
			</a>
			</div>
		<div class='wt-get-episodes display-1'>{episodes}</div>
	</div>
</div>