@extends('WT/admin/layout')

@block('page-content')

	<div data-template='wt-search-result'>
		<div class='wt-search-result' wt-status-user='{user}'>
			<div class='wt-search-title'>{title}</div>
			<div class='wt-search-img'><img src='{banner}'></div>
			<button class='button button-action button-primary' wt-add='{source},{id}'>ADD</button>
			<button class='button button-action button-danger' wt-remove='{source},{id}'>REMOVE</button>
		</div>
	</div>

	<div data-template='wt-search-waiting'>
		<h3>{waiting}</h3>
	</div>

	<div data-template='wt-search-spinner'>
		<div class='ly-element-fill'>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
			<div class='wt-search-waiting'></div>
		</div>
	</div>

	<div class='ly-row'>
		<div class='page-section page-section-content'>

			<div class='section-header ly-container-center'>
				<h3 class='section-title'>Search</h3>
				<div class='ly-element-fill'></div>
			</div>
			<hr>
		<form method='GET' class='wt-search-form'>
				<div class='section-header ly-container-center'>
					<input class='input input-data item-form-element wt-search-key'>
					<button type='submit' class='button button-action button-primary'><i class='fa fa-search'></i></button>
				</div>
			</form>
			<div class='wt-section-container'>
				<div class='section-inner wt-section-container-loading'>
					<div class='wt-search-spinner-container'></div>
				</div>

				<div class='section-inner wt-section-container-results'>
					<h3>Library</h3>
					<div class='wt-search-results wt-search-library'>
					</div>
				</div>
				<div class='section-inner wt-section-container-results'>
					<h3>TheTVDB (Serie,Anime)</h3>
					<div class='wt-search-results wt-search-thetvdb'>
					</div>
				</div>
				<div class='section-inner wt-section-container-results'>
					<h3>Baka Updates (Manga,Novel)</h3>
					<div class='wt-search-results wt-search-baka-updates'>
					</div>
				</div>
			</div>
		</div>
	</div>
@endblock