.ly-container{
	display:flex;
}

.ly-container-layout{
	display:flex;
	min-height:100%;
}

.ly-container-center{
	display:flex;
	align-items:center;
	justify-content:center;
}

.ly-element-fill{
	flex-grow:1;
}

.ly-element-column{
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}