



/* Content data manage */
.data-form textarea{
	resize:vertical;
}

.data-form > .field{
	display:flex;
	margin:15px 0;
	font-size:14px;
}

.data-form > .field > label{
	padding:5px 30px 5px 0;
	min-width:250px;
	display: flex;
  	justify-content: flex-end;
  	word-break: break-word;
}

.data-form > .field > label .required{
	color: rgb(224, 34, 34);
	position:relative;
	width:0;
	margin-left:3px;
}

.data-form > .field > .data{
	width:100%;
	font-size:12px;
	
}

.data-form > .field > .data > *{
	width:100%;
}

.data-form > .field > .data.value{
	line-height: 31px;
	width:auto;
}

.data-form .cont-data-checkbox{
	margin:7px 0;
}

.data-form .cont-data-fieldset-checkbox{
	line-height:13px;
	margin:4px 0;
}

.cont-data-image{
	display:inline-block;
	position:relative;
	border:1px solid #EEE;
	padding:2px;
	width:150px;
	height:150px;
}

.cont-data-image img{
	width:100%;
	height:100%;
}

.cont-data-image .button{
	position:absolute;
	top:0;
	right:0;
	margin:7px;
}

.cont-data-image + .file{
	display:block;
}