/* INPUT */
.b-input,.b-check + label,.b-radio + label{
	display:inline-block;
	padding: 2px;
	border-radius: 5px;
	border: 1px solid #cfcfcf;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	background: #FFF;
	outline: none;
}

.b-input.square,.b-check.square + label,.b-text.square{
	border-radius:3px;
	box-shadow: none;
	border:1px solid #0295AB;
}

.b-input.square{
	min-width:45px !important;
	height:21px;
	padding:2px;
	border-radius:3px;
}

.b-input.square.hide{
	background:none;
	border:1px solid transparent;
	cursor:pointer;
}

.b-input.square.hide::-webkit-outer-spin-button,.b-input.square.hide::-webkit-inner-spin-button{
  /*-webkit-appearance: none;*/
}


/* INPUT NUMBER */
.b-input.no-inc::-webkit-outer-spin-button,
.b-input.no-inc::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


/* general */
.b-input{
	transition: border 0.3s,box-shadow 0.3s;
	padding:5px;
}

.b-input:focus,.b-text:focus{
	box-shadow: 0px 0px 3px #09bad4;
	border:1px solid #09bad4;
}

/* file */
.b-file{
	height:22px;	
	outline:none;
}


/* SELECT, TEXTAREA */

.b-select,.b-text{
	border: 1px solid #CFCFCF;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	transition: border 0.3s,box-shadow 0.3s;
	outline:none;
}

/* SELECT */
.b-select {
	background: #FFF;
	background: linear-gradient(to bottom,#FFF, #EFEFEF);
	width:355px;
	padding: 3px 5px;
}

/* TEXTAREA */
.b-text{
	width:343px;
	height:200px;
	padding:3px;
	background: #FFF;
	background: linear-gradient(to bottom,#FFF, #f6f6f6);
}

.b-text.square{


}

/* CHECKBOX, RADIO */
.b-check, .b-radio{
	display:none;
}

.b-check + label, .b-radio + label{
	min-width:20px;
	min-height:20px;
	width:20px;
	height:20px;
	position:relative;
	cursor:pointer;
	transition: border 0.3s,box-shadow 0.3s;
}

.b-radio + label{
	border-radius:14px;
}
.b-check + label:hover,.b-radio + label:hover{
	box-shadow: 0px 0px 3px #09bad4;
	border:1px solid #09bad4;
}

.b-check[data-hover] + label,.b-radio[data-hover] + label{
	box-shadow: 0px 0px 3px rgba(231, 30, 30, 0.85);
	border:1px solid rgba(231, 30, 30, 0.85);
}

.b-check + label > span,.b-radio + label > span{
	margin-left:24px;
	white-space: nowrap;
}

.b-check:checked + label::after, .b-radio:checked + label::after{
	content:'';
	position: absolute;
	width: 8px;
	height: 4px;
	background: rgba(0, 0, 0, 0);
	top: 4px;
	left: 4px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.b-radio:checked + label::after{
	width: 7px;
}

.b-check.square + label{
	min-width:16px;
	min-height:16px;
	width:16px;
	height:16px;
}

.b-check.square:checked + label::after{
	width: 5px;
	height: 3px;
	top: 3px;
	left: 3px;
	border: 3px solid #075068;
	border-top: none;
	border-right: none;
}

/* SUBMIT, BUTTON */


.b-button.icon16{
	min-width:16px;
	min-height:16px;
}

.b-button{
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	font-size: 0;
	cursor:pointer !important;
	outline:none;
	text-decoration:none !important;
}

.b-button.text{
	color:white;
	font-family:verdana;
	font-size:12px;
}

.b-button.b,.b-button.g,.b-button.r,.b-button.s{
	border-radius:5px;
	box-shadow: none;
	padding:5px 8px;
	color:white;
	font-weight:bold;
	font-family:verdana;
	font-size:12px;
	text-align:center;
}
.b-button.s{
	padding:1px !important;
	color: #061A3B;
	font-size:14px;
}
.b-button.s:hover{
	color: #21A1D4
}
.b-button.s2{
	color: #075068;
	font-size:12px;
	font-weight:bold;
}
.b-button.s2:hover{
	color: white;
}
.b-button.b:active,.b-button.g:active,.b-button.r:active{
	box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.3);
}

.b-button.b{
	border:1px solid #0295ab;
	background: #69C4E8;
	background: linear-gradient(to bottom, #69C4E8, #21A1D4);
}

.b-button.b:hover, .b-button.b:active{
	background:#69C4E8;
}


.b-button.g{
	background: rgba(133, 199, 41, 0.8);
	background: linear-gradient(to bottom, rgba(133, 199, 41, 0.85), rgba(115, 160, 18, 0.85));
	border:1px solid #668f0e;
}

.b-button.g:hover,.b-button.g:active{
	background: #85c729;
}

.b-button.r{
	background: rgba(231, 30, 30, 0.8);
	background: linear-gradient(to bottom, rgba(231, 30, 30, 0.85), rgba(157, 4, 4, 0.85));

	border:1px solid #9d0404;
}

.b-button.r:hover,.b-button.r:active{
	background: #e71e1e;
}






/* Nuovo stile */

.input,.select,.text{
	display:inline-block;
	padding:10px;
	outline:none;
}

.text{
	min-height:120px;
}

.input.r{
	background:none;
	border:none;
	padding:0;
}

.select.n, .input.n, .text.n{
	border:1px solid rgb(229, 229, 229);
	padding:5px 10px;
	transition:ease-in-out 0.2s all;
	height:29px;

}

.select.n:focus, .input.n:focus, .text.n:focus{
	border-color: #999;
}

.select.n{
	padding:4px 10px;
}

.input.d{
	font-size:14px;
	background-color: #DDE3EC;
  	height: 42px;
	color: #8290A3;
 	border: 1px solid #DDE3EC;
 	transition:0.2s border;
}

.input.d:focus{
	border: 1px solid #C3CCDA;
}

.button,.tag{
	outline:none;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}
.tag.n{
	cursor:default;
}

.button.n,.tag.n{
	background-color:#E5E5E5;
	padding:5px 10px;
	color:rgb(51, 51, 51);
	font-size:13px;
	height:29px;
}

.button.n:hover{
	background:#D3D3D3;
}

.button.n:active{
	background-color: #CCC;
}

.button.s{
	padding:5px;
	background:#293443;
	color:#6B7C92;
	font-size:14px;
}


.button.s:hover{
	background:#24303e;
	color:#748090;
}

.button.sy{
	font-size: 0;
	cursor:pointer !important;
	text-decoration:none !important;
}

.button.b{
	padding: 12px 20px;
	background: #45B6AF;
	color: white;
	font-size:13px;
	font-weight :600;
	text-transform: uppercase;
	border-color: #307F7A;
}

.button.b:hover{
	background: #3B9C96;
}

.button.b:active{
	background-color: #348A84;
}

/* Bottoni per azioni */
.button.a:not(.i) > *,.tag.a:not(.i) > *{
	margin-right:5px;
	margin-top:2px;
}

.button.a,.tag.a{
	padding: 4px 10px;
	font-size:13px;
	color:#333;
	display:inline-flex;
  	align-items: center;
  	height: 29px;
  	border:1px solid #ccc;
  	background-color: #FFF;
  	text-decoration:none !important;
	flex-wrap: nowrap;
}

.tag.a{
	padding:0px 6px;
	font-size:12px;
	height:23px;
}

.button.a:hover{
  	background-color: #E6E6E6;
  	border-color: #ADADAD;
}

.button.a:active{
	background-color: #E6E6E6;
  	border-color: #ADADAD
}

.button.i,.tag.i{
	width:24px;
	height:24px;
	font-size:14px;
	justify-content:center;
	padding:0;
}

.button.a.danger,.tag.a.danger{
	color: #FFF;
  	background-color: #D9534F;
  	border-color: #D43F3A;

}

.button.a.danger:hover{
	background-color: #C9302C;
  	border-color: #AC2925;
}

.button.a.danger:active{
	background-color: #AC2925;
  	border-color: #761C19;
}

.button.a.success,.tag.a.success{
	color: #FFF;
	background-color: #5CB85C;
  	border-color: #4CAE4C;
}

.button.a.success:hover{
	background-color: #449D44;
  	border-color: #398439;
}

.button.a.success:active{
	background-color: #398439;
  	border-color: #255625;
}


.button.a.primary,.tag.a.primary{
	color: #FFF;
  	background-color: #337AB7;
  	border-color: #2E6DA4;
}

.button.a.primary:hover{
	background-color: #286090;
  	border-color: #204D74;
}

.button.a.primary:active{
	background-color: #204D74;
  	border-color: #122B40;
}


.button.a.info,.tag.a.info{
	color: #FFF;
  	background-color: #5BC0DE;
  	border-color: #46B8DA;
}

.button.a.info:hover{
	background-color: #31B0D5;
  	border-color: #269ABC;
}

.button.a.info:active{
	background-color: #269ABC;
  	border-color: #1B6D85;
}

.button.a.warning,.tag.a.warning{
	color: #FFF;
  	background-color: #F0AD4E;
  	border-color: #EEA236;
}

.button.a.warning:hover{
  	background-color: #EC971F;
  	border-color: #D58512;
}

.button.a.warning:active{
	background-color: #D58512;
  	border-color: #985F0D;
}

.file{
	margin:2px 0;
	height:27px;
	line-height:27px;
	outline:none;
}
.file::-webkit-file-upload-button{
	background:none;
	border:none;
	padding: 6px 12px;
	font-size:13px;
	border:1px solid black;
	outline:none;
}

.file.a::-webkit-file-upload-button{
	color: #FFF;
  	background-color: #5BC0DE;
  	border-color: #46B8DA;
}

.file.a:hover::-webkit-file-upload-button{
	background-color: #31B0D5;
  	border-color: #269ABC;
}

.file.a:active::-webkit-file-upload-button{
	background-color: #269ABC;
  	border-color: #1B6D85;
}


/* CHECKBOX, RADIO */

.check{
	display:none;
}

.check.r + label{
	border-radius:100%;
}

.check.b + label,.check.n + label{
	padding: 2px;
	background: #FFF;
	outline: none;
	display:inline-block;
	min-width:18px;
	min-height:18px;
	width:18px;
	height:18px;
	position:relative;
	cursor:pointer;
	border:1px solid #8290A3;
}

.check.n + label{
	border:1px solid rgb(229, 229, 229);
}

.check.n + label:hover{
	border: 1px solid #C3CCDA;
}

.check.d + label{
	min-width:16px;
	min-height:16px;
	width:16px;
	height:16px;
	padding:0;
}

.check.b + label > span,.check.n + label > span{
	margin-left:24px;
	white-space: nowrap;
}

.check.r + label > span{
	margin-left:19px;
}

.check.b:checked + label::after,.check.n:checked + label::after{
	content: '';
	position: absolute;
	width: 7px;
	height: 4px;
	background: rgba(0, 0, 0, 0);
	top: 3px;
	left: 3px;
	border: 3px solid #49494A;
	border-top: none;
	border-right: none;
	transform:rotate(-45deg);
}

.check.d:checked + label::after{
	top: 2px;
	left: 2px;
}

.check.r:checked + label::after{
	width: 6px;
  	height: 6px;
  	top: 4px;
  	left: 4px;
	background:#49494A;
	border-radius:100%;
	border:none;
}


.m{
    font-size: 18px;
}

.m.success{
	color:#398439
}

.m.danger{
	color:#D43F3A;
}

.button.preferences{
	font-size:12px;
}