@font-face {
	font-family: 'Open Sans';
	src: url('../../font/OpenSans-Light.ttf');
}

body{
	margin:0 auto;
	font-size:12px;
	font-family:verdana;
	background-color: #364150;
	min-width:310px;
}
html,body{
	height:100%;
}

body{
	background:
	background:#364150;
	font-family: 'Open Sans',sans-serif;
}

.block{
	background:#364150;
	display:flex;
	padding:0;
}

#container{
	display:flex;
    margin-top: 45px;
	height:100%;
}

#container > *{
	height:100%;
}

#content{
	width:100%;
	padding:10px 25px;
	background:white;
}