html,body{
	height:100%;
}

body{
	background:
	background:#364150;
}
.block{
	background:#364150;
	display:flex;
	padding:0;
}

#container{
	display:flex;

	height:100%;
}

#container > *{
	height:100%;
}