.button-action,.tag-action{
	padding: 4px 10px;
	font-size:13px;
	color:#333;
	display:inline-flex;
  	align-items: center;
  	height: 29px;
  	border:1px solid #ccc;
  	background-color: #FFF;
  	text-decoration:none !important;
	flex-wrap: nowrap;
	border-radius:1px;
}

.button-action{
	cursor:pointer;
}

.tag-action{
	padding:0px 6px;
	font-size:12px;
	height:23px;
	font-weight:normal;
}


.button-action:not(.disable):hover{
  	background-color: #E6E6E6;
  	border-color: #ADADAD;
}

.button-action:not(.disable):active{
	background-color: #E6E6E6;
  	border-color: #ADADAD
}

.button-icon,.tag-icon{
	width:24px;
	height:24px;
	font-size:14px;
	justify-content:center;
	padding:0;
}

.button-action-icon,.tag-action-icon{
	width:28px;
	height:28px;
	font-size:14px;
	justify-content:center;
	padding:0;
}

/* Bottoni per azioni */
.button-action > *:not(:first-child){
	margin-left:3px;
}
.button-action > *:not(:last-child){
	margin-right:3px;
}

.button-danger,.tag-danger{
	color: #FFF;
  	background-color: #D9534F;
  	border-color: #D43F3A;

}

.button-danger:not(.disable):hover{
	background-color: #C9302C;
  	border-color: #AC2925;
}

.button-danger:not(.disable):active{
	background-color: #AC2925;
  	border-color: #761C19;
}

.button-success,.tag-success{
	color: #FFF;
	background-color: #5CB85C;
  	border-color: #4CAE4C;
}

.button-success:not(.disable):hover{
	background-color: #449D44;
  	border-color: #398439;
}

.button-success:not(.disable):active{
	background-color: #398439;
  	border-color: #255625;
}


.button-primary,.tag-primary{
	color: #FFF;
  	background-color: #337AB7;
  	border-color: #2E6DA4;
}

.button-primary:not(.disable):hover{
	background-color: #286090;
  	border-color: #204D74;
}

.button-primary:not(.disable):active{
	background-color: #204D74;
  	border-color: #122B40;
}


.button-info,.tag-info{
	color: #FFF;
  	background-color: #5BC0DE;
  	border-color: #46B8DA;
}

.button-info:not(.disable):hover{
	background-color: #31B0D5;
  	border-color: #269ABC;
}

.button-info:not(.disable):active{
	background-color: #269ABC;
  	border-color: #1B6D85;
}

.button-warning,.tag-warning{
	color: #FFF;
  	background-color: #F0AD4E;
  	border-color: #EEA236;
}

.button-warning:not(.disable):hover{
  	background-color: #EC971F;
  	border-color: #D58512;
}

.button-warning:not(.disable):active{
	background-color: #D58512;
  	border-color: #985F0D;
}


.input,.select,.text{
	display:inline-block;
	padding:10px;
	outline:none;
}

/* login */


.text{
	min-height:120px;
}

.input.r{
	background:none;
	border:none;
	padding:0;
}


.select-data, .input-data, .text-data, .check-data + label{
	transition:ease-in-out 0.2s all;
}

.select-data, .input-data, .text-data{
	border:1px solid rgb(229, 229, 229);
	padding:5px 10px;
	height:29px;
}

.text-data{
	min-height:190px;
}

.select-data:not(.disable):focus, .input-data:not(.disable):focus, .text-data:not(.disable):focus{
	border-color: #999;
}

.select-data{
	padding:4px 10px;
}

.button.n,.tag.n{
	background-color:#E5E5E5;
	padding:5px 10px;
	color:rgb(51, 51, 51);
	font-size:13px;
	height:29px;
}

.button.n:hover{
	background:#D3D3D3;
}

.button.n:active{
	background-color: #CCC;
}

.button.s{
	padding:5px;
	background:#293443;
	color:#6B7C92;
	font-size:14px;
}


.button.s:hover{
	background:#24303e;
	color:#748090;
}

.button.sy{
	font-size: 0;
	cursor:pointer !important;
	text-decoration:none !important;
}

.button.b{
	padding: 12px 20px;
	background: #45B6AF;
	color: white;
	font-size:13px;
	font-weight :600;
	text-transform: uppercase;
	border-color: #307F7A;
}

.button.b:hover{
	background: #3B9C96;
}

.button.b:active{
	background-color: #348A84;
}


.file{
	margin:2px 0;
	height:27px;
	line-height:27px;
	outline:none;
}
.file::-webkit-file-upload-button{
	background:none;
	border:none;
	padding: 6px 12px;
	font-size:13px;
	border:1px solid black;
	outline:none;
}

.file.a::-webkit-file-upload-button{
	color: #FFF;
  	background-color: #5BC0DE;
  	border-color: #46B8DA;
}

.file.a:hover::-webkit-file-upload-button{
	background-color: #31B0D5;
  	border-color: #269ABC;
}

.file.a:active::-webkit-file-upload-button{
	background-color: #269ABC;
  	border-color: #1B6D85;
}


/* CHECKBOX, RADIO */

.check{
	display:none;
}

.check-radius + label{
	border-radius:100%;
}

.check-data + label{
	padding: 2px;
	background: #FFF;
	outline: none;
	display:inline-block;
	min-width:18px;
	min-height:18px;
	width:18px;
	height:18px;
	position:relative;
	cursor:pointer;
	border:1px solid #8290A3;
}

.check-data + label{
	border:1px solid rgb(229, 229, 229);
}

.check-data + label:hover{
	border: 1px solid #C3CCDA;
}

.check-small + label{
	min-width:16px;
	min-height:16px;
	width:16px;
	height:16px;
	padding:0;
}

.check-data + label > span{
	margin-left:24px;
	white-space: nowrap;
}

.check-radius + label > span{
	margin-left:19px;
}

.check-data:checked + label::after{
	font-family: "FontAwesome";
	content: "\f00c";
	position:absolute;
	color:#404040;
	font-size:12px;
	font-weight:300;
}

.check-small:checked + label::after{
	top: 1px;
	left: 1px;
}

.check-radius:checked + label::after{
	width: 6px;
  	height: 6px;
  	top: 4px;
  	left: 4px;
	background:#49494A;
	border-radius:100%;
	border:none;
}


.m{
    font-size: 18px;
}

.m.success{
	color:#398439
}

.m.button-danger{
	color:#D43F3A;
}

.button.preferences{
	font-size:12px;
}

.required, .check-data.required + label{
	box-shadow: 0 0 3px #ec3232;
	border:1px solid #ec3232;
}