{{extends Serie/admin/layout}}

{{block page-content}}
	<div class='page-row'>
		<div class='page-section page-section-content'>

			<div class='section-header flex-center'>
				<h3 class='section-title'>Search</h3>
				<div class='flex-fill'></div>
			</div>
			<hr>
			<div class='section-header flex-center'>
				<input class='input input-data item-form-element'>
				<button class='button button-action button-primary'><i class='fa fa-search'></i></button>
			</div>
			<div class='section-inner'>
				<h3>Results</h3>
			</div>
		</div>
	</div>
{{/block}}