{{extends Admin/admin/layout}}

{{block page-content}}
	
	<!-- ROW TEMPLATE -->
	<div class='templates' data-template='item-row'>
		<div class='section-table-row section-table-header'>
			<div class='section-table-col'>
				<span class='section-table-col-text'>{username}</span>
			</div>
			<div class='section-table-col'>
				<span class='section-table-col-text'>{email}</span>
			</div>
			<div class='section-table-col section-table-col-action'>
				<button type='button' class='button-action button-danger'><i class='fa fa-trash'></i><span>Delete</span></button>
				<button type='button' class='button-action button-warning'><i class='fa fa-pencil'></i><span>Edit</span></button>
			</div>
		</div>
	</div>

	<!-- MODAL ADD -->
	<div class='modal' id='modal-item-add'>
		<div class='modal-body'>
			<button type='button' class='button-action button-danger modal-close'>Close</button>

			<h2>Add</h2>
			<form method='POST' id='item-data-form-add'>
				<div>Username:</div>
				<div><input type='text' class='input-data' name='username'></div>
				<div>Email:</div>
				<div><input type='text' class='input-data' name='email'></div>
				<div><button type='submit' class='button-action button-primary'>Add</button></div>
			</form>

		</div>
	</div>

	<div class='page-row'>
		<div class='page-section'>

			<div class='section-search flex-center'>
				<div class='flex-fill'></div>
				<label>Search: </label>
				<input type='text' class='input-data'>
			</div>
			
			<button type='button' class='button-action button-primary' data-modal='modal-item-add' data-modal-title='Add'>Aggiungi</button>

			<div class='section-table'>

				<div class='section-table-row section-table-header'>
					<div class='section-table-col '>
						<div class='section-table-col-text'>
							<span>Username</span>
							<i class='fa fa-sort'></i>
						</div>
					</div>
					<div class='section-table-col'>
						<div class='section-table-col-text'>
							<span>Email</span>
							<i class='fa fa-sort-desc'></i>
						</div>
					</div>
					<div class='section-table-col section-table-col-action'>
						<div class='section-table-col-text'>
							<span>Action</span>
						</div>
					</div>
				</div>

				<div data-use-template='item-row'>
					<div class='section-table-row'>
						<div class='section-table-col'>
							{{include Admin/admin/spinner}}
						</div>
					</div>
				</div>

			</div>
			<div class='section-pagination flex-center'>
				<div>
					<select>
						<option>5</option>
						<option>10</option>
						<option>15</option>
					</select>
				</div>
				<div class='flex-fill'></div>
				<div>
					<button type='button' class='button-action'>Prev</button>
					<button type='button' class='button-action'>Next</button>
				</div>
			</div>
		</div>
	</div>
{{/block}}

{{block scripts}}
	{{parent}}
	<script>
		item.addTable({
			list:{
				url:'{{$api -> get}}'
			},
			add:{
				url:'{{$api -> add}}',
				form: '#item-data-form-add',
				action: function(form){
					var values = {};
					values.username = form.find('[name=username]').val();
					values.email = form.find('[name=email]').val();
					return values;
				}
			},
			template: {
				row: 'item-row'
			}
		});
	</script>
{{/block}}