{{extends Admin/admin/layout}}

{{block page-content}}
	
	
	<!-- ALERT DETAILS -->
	<div class='templates' data-template='alert-details'>
		<li>{message}</li>
	</div>

	<!-- ALERT SUCCESS TEMPLATE -->
	<div class='templates' data-template='alert-success'>
		<div class='alert alert-success'>{message}<ul>{details}</ul></div>
	</div>

	<!-- ALERT DANGER TEMPLATE -->
	<div class='templates' data-template='alert-danger'>
		<div class='alert alert-danger'>{message}<ul>{details}</ul></div>
	</div>

	<!-- ROW TEMPLATE -->
	<div class='templates' data-template='item-row'>
		<div class='section-table-row section-table-header'>
			{{for $fieldsAll as $field}}
				<div class='section-table-col'>
					<span class='section-table-col-text'>{{tmpl_js_var($field -> getName())}}</span>
				</div>
			{{/for}}
			<div class='section-table-col section-table-col-action'>
				<button type='button' class='button-action button-danger' data-item-remove data-item-id='{id}' data-item-table='{table}'><i class='fa fa-trash'></i><span>Delete</span></button>
				<button type='button' class='button-action button-warning'><i class='fa fa-pencil'></i><span>Edit</span></button>
			</div>

		</div>
	</div>

	<!-- MODAL ADD -->
	<div class='modal' id='modal-item-add'>
		<div class='modal-body'>
			<div class='modal-close-header'>
				<div class='flex-fill'></div>
				<button type='button' class='button-action button-danger modal-close'><i class='fa fa-remove'></i></button>
			</div>

			<h2>Add</h2>
			<div data-use-template='alert-modal'></div>
			<form method='POST' id='item-data-form-add'>
				{{for $fieldsAdd as $field}}
					<div class='item-form-label'>{{$field -> getLabel()}}:</div>
					<div class='item-form-input'><input type='text' class='input-data' name='{{$field -> getName()}}'></div>
				{{/for}}

				<div class='item-form-actions'><button type='submit' class='button-action button-primary'>Add</button></div>
			</form>

		</div>
	</div>

	<div class='page-row'>
		<div class='page-section'>

			<div data-use-template='alert-global'></div>

			<div class='section-search flex-center'>
				<div class='flex-fill'></div>
				<label>Search: </label>
				<input type='text' class='input-data'>
			</div>
			
			<button type='button' class='button-action button-primary' data-modal='modal-item-add' data-modal-title='Add'>Add</button>

			<div class='section-table'>

				<div class='section-table-row section-table-header'>

					{{for $fieldsAll as $field}}
					<div class='section-table-col '>
						<div class='section-table-col-text'>
							<span>{{$field -> getLabel()}}</span>
							<i class='fa fa-sort'></i>
						</div>
					</div>
					{{/for}}
					<div class='section-table-col section-table-col-action'>
						<div class='section-table-col-text'>
							<span>Action</span>
						</div>
					</div>
				</div>

				<div data-use-template='item-row'>
					<div class='section-table-row'>
						<div class='section-table-col'>
							{{include Admin/admin/spinner}}
						</div>
					</div>
				</div>

			</div>
			<div class='section-pagination flex-center'>
				<div>
					<select>
						<option>5</option>
						<option>10</option>
						<option>15</option>
					</select>
				</div>
				<div class='flex-fill'></div>
				<div>
					<button type='button' class='button-action'>Prev</button>
					<button type='button' class='button-action'>Next</button>
				</div>
			</div>
		</div>
	</div>
{{/block}}

{{block scripts}}
	{{parent}}
	<script>
		item.addTable({

			name:'{{$table}}',
			list:{
				url:'{{$api}}'
			},
			add:{
				url:'{{$api}}',
				form: '#item-data-form-add',
				action: function(form){
					var values = {};

					{{for $fieldsAdd as $field}}
						values.{{$field -> getName()}} = form.find('[name={{$field -> getName()}}]').val();
					{{/for}}
					return values;
				}
			},
			delete:{
				url:'{{$api}}',
				form: '#item-data-form-add',
			},
			template: {
				row: 'item-row'
			}
		});
	</script>
{{/block}}