<script>
console.log(document.html);
</script><html>
	<body style='background:#efefef'><div style='margin:30px auto;max-width:800px'>
		
		<div style='padding:20px;background:white;border-radius:15px;font-size:22px;border:1px solid #dedede'>

			<span style='font-size:21px; display:block'>
				<b>{{ get_class($e) }}</b>
				<br>
				
				<span style='font-size:16px'>
					@if(!empty($e -> getFile()))

						{{ $e -> getFile() }} in line {{ $e -> getLine() }}

					@endif
				</span>
				<br>
			</span>
			<span style='font-size:21px;'>
				<?php echo $e -> getMessage(); ?>
			</span>

		</div>
		<div style='margin-top:20px;padding:20px;background:white;border-radius:15px;font-size:22px;border:1px solid #dedede'>
			<div> StackTrace </div>

			@foreach($e -> getTrace() as $n => $k)
				
				<div style='font-size:14px'>
					@if(isset($k['file']))
						
						{{ $n }} {{ $k['file'] }} in line {{ $k['line'] }} 

					@endif
				</div>

			@endforeach
			
		</div>
	</body>
</html>