@foreach(Flash::get('error') as $message)
	<div class='alert alert-danger'>
		@if(is_array($message))
			<ul>
			@foreach($message as $mex)
				<li>{{$mex}}</li>
			@endforeach
			</ul>
		@else
			{{$message}}
		@endif
	</div>
@endforeach

@foreach(Flash::get('warning') as $message)
	<div class='alert alert-warning'>
		@if(is_array($message))
			<ul>
			@foreach($message as $mex)
				<li>{{$mex}}</li>
			@endforeach
			</ul>
		@else
			{{$message}}
		@endif
	</div>
@endforeach

@foreach(Flash::get('success') as $message)
	<div class='alert alert-success'>
		@if(is_array($message))
			<ul>
			@foreach($message as $mex)
				<li>{{$mex}}</li>
			@endforeach
			</ul>
		@else
			{{$message}}
		@endif
	</div>
@endforeach

@foreach(Flash::get('info') as $message)
	<div class='alert alert-info'>
		@if(is_array($message))
			<ul>
			@foreach($message as $mex)
				<li>{{$mex}}</li>
			@endforeach
			</ul>
		@else
			{{$message}}
		@endif
	</div>
@endforeach