{{block modal}}
	<div class='modal' id='{{block id}}modal-item-add{{/block}}'>
		{{block body}}
		<div class='modal-body {{block __class}}{{/block}}'>

			{{block header}}
			<div class='modal-header'>
				<div class='modal-header-title-container'>
					<h5 class='modal-title'>{{block title}}Title{{/block}}</h5>
				</div>
				<button type='button' class='button-action button-danger modal-close'><i class='fa fa-remove'></i></button>
			</div>
			{{/block}}

			<div class='modal-content'>
			{{block content}}
				Default content
			{{/block}}
			</div>
		</div>
		{{/block}}
	</div>
{{/block}}

