@block('modal')
	<div class='modal' id='@block('id')modal-item-add@endblock'>
		@block('body')
		<div class='modal-body @block('__class')@endblock'>

			@block('header')
			<div class='modal-header'>
				<div class='modal-header-title-container'>
					<h5 class='modal-title'>@block('title')Title@endblock</h5>
				</div>
				<button type='button' class='button-action button-danger modal-close'><i class='fa fa-remove'></i></button>
			</div>
			@endblock

			<div class='modal-content'>
			@block('content')
				Default content
			@endblock
			</div>
		</div>
		@endblock
	</div>
@endblock

