{{extends Admin/admin/layout}}

{{block page-content}}
	
	<div class='templates' data-template='spinner-table'>

		<div class='section-table-row'>
			<div class='section-table-col'>
				{{include Admin/admin/__spinner}}
			</div>
		</div>

	</div>
	
	<!-- ALERT DETAILS -->
	<div class='templates' data-template='alert-details'>
		<li>{message}</li>
	</div>

	<!-- ALERT SUCCESS TEMPLATE -->	
	<div class='templates' data-template='alert-success'>
		<div class='alert alert-success'>{message}<ul>{details}</ul></div>
	</div>

	<!-- ALERT DANGER TEMPLATE -->
	<div class='templates' data-template='alert-danger'>
		<div class='alert alert-danger'>{message}<ul>{details}</ul></div>
	</div>

	<!-- ROW TEMPLATE -->
	<div class='templates' data-template='item-row'>
		<div class='section-table-row section-table-header'>
			{{for $fieldsAll as $field}}
				<div class='section-table-col'>
					<span class='section-table-col-text'>{{tmpl_js_var($field -> getName())}}</span>
				</div>
			{{/for}}
			<div class='section-table-col section-table-col-action'>

				{# View Button #}
				<button type='button' class='button-action button-action-icon button-info' data-modal='modal-item-get' data-modal-item-id='{id}' data-modal-item-table='{table}'>
					<i class="fa fa-file-text"></i>
				</button>

				{# Edit Button #}
				<button type='button' class='button-action button-action-icon button-warning' data-modal='modal-item-edit' data-modal-item-id='{id}' data-modal-item-table='{table}'>
					<i class='fa fa-pencil'></i>
				</button>
					
				{# Delete Button #}
				<button type='button' class='button-action button-action-icon button-danger' data-modal='modal-item-delete' data-modal-item-id='{id}' data-modal-item-table='{table}'>
					<i class='fa fa-trash'></i>
				</button>
			</div>

		</div>
	</div>

	<!-- MODAL ADD -->
	{{includes Admin/admin/__modal modal-add}}
		{{block __class}}{{/block}}
		{{block id}}modal-item-add{{/block}}
		{{block title}}Add new row{{/block}}
		{{block content}}
			<div data-use-template='alert-modal'></div>
			<form method='POST' item-data-form-add  data-item-table='{table}'>
				{{for $fieldsAdd as $field}}
					<div class='item-form-label'>{{$field -> getLabel()}}:</div>
					<div class='item-form-input'><input type='text' class='input-data' name='{{$field -> getName()}}'></div>
				{{/for}}

				<div class='item-form-actions'><button type='submit' class='button-action button-primary'>Add</button></div>
			</form>
		{{/block}}
	{{/includes}}


	<!-- MODAL VIEW -->
	{{includes Admin/admin/__modal modal-get}}
		{{block __class}}{{/block}}
		{{block id}}modal-item-get{{/block}}
		{{block title}}View{{/block}}
		{{block content}}

			{{for $fieldsGet as $field}}
				<div class='item-form-label'>{{$field -> getLabel()}}</div>
				<div class='item-form-input'><span data-name='{{$field -> getName()}}'></span></div>
			{{/for}}

			<div class='item-form-actions'>
				
				{# Edit Button #}
				<button type='button' class='button-action button-warning' data-modal='modal-item-edit' data-modal-item-id='{id}' data-modal-item-table='{table}'>
					<i class='fa fa-pencil'></i>
					<span>Edit</span>
				</button>
				

				{# Delete Button #}
				<button type='button' class='button-action button-danger' data-modal='modal-item-delete' data-modal-item-id='{id}' data-modal-item-table='{table}'>
					<i class='fa fa-trash'></i>
					<span>Delete</span>
				</button>
			</div>

		{{/block}}
	{{/includes}}

	<!-- MODAL EDIT -->
	{{includes Admin/admin/__modal modal-edit}}
		{{block __class}}{{/block}}
		{{block id}}modal-item-edit{{/block}}
		{{block title}}Edit{{/block}}
		{{block content}}
			<div data-use-template='alert-modal'></div>
			<form method='POST' item-data-form-edit data-item-table='{table}' data-item-id='{id}'>
				{{for $fieldsEdit as $field}}
					<div class='item-form-label'>{{$field -> getLabel()}}:</div>
					<div class='item-form-input'><input type='text' class='input-data' name='{{$field -> getName()}}'></div>
				{{/for}}

				<div class='item-form-actions'><button type='submit' class='button-action button-primary'>Apply changes</button></div>
			</form>
		{{/block}}
	{{/includes}}


	<!-- MODAL DELETE CONFIRM -->
	{{includes Admin/admin/__modal modal-delete}}
		{{block __class}}modal-body-small{{/block}}
		{{block id}}modal-item-delete{{/block}}
		{{block title}}Are you sure?{{/block}}
		{{block content}}
			<form method='POST'>
				<div>The item #<span class='data-modal-item-id'></span> will be deleted</div>
				<div class='item-form-actions'>
					<button type='button' class='button-action button-primary' data-item-remove data-item-id='{id}' data-item-table='{table}'>
						<i class='fa fa-check'></i>
						<span>Yes</span>
					</button>
					<button type='button' class='button-action button-danger modal-close'>
						<i class='fa fa-remove'></i>
						<span>No</span>
					</button>
				</div>
			</form>
		{{/block}}
	{{/includes}}

	<div class='page-row'>
		<div class='page-section' data-item-table-container='{{$table}}'>

			<div data-use-template='alert-global'></div>

			<div class='section-search flex-center'>
				<div class='flex-fill'></div>
				<label>Search: </label>
				<input type='text' class='input-data'>
			</div>
			
			<button type='button' class='button-action button-primary' data-modal='modal-item-add' data-modal-item-table='{{$table}}'>Add</button>

			<div class='section-table'>

				<div class='section-table-row section-table-header'>

					{{for $fieldsAll as $field}}
						{{if $field -> isSort()}}
							<div class='section-table-col section-table-col-head section-table-col-sort' data-item-sort-field='{{$field -> getName()}}' data-item-table='{{$table}}'>
								<div class='section-table-col-text noselect'>
									<span>{{$field -> getLabel()}}</span>

									<i class='fa fa-sort' data-item-sort-none></i>
									<i class='fa fa-sort-asc hide' data-item-sort-asc></i>
									<i class='fa fa-sort-desc hide' data-item-sort-desc></i>
								</div>
							</div>
						{{else}}

							<div class='section-table-col section-table-col-head'>
								<div class='section-table-col-text'>
									<span>{{$field -> getLabel()}}</span>
								</div>
							</div>
						{{/if}}
					{{/for}}
					<div class='section-table-col section-table-col-action'>
						<div class='section-table-col-text'>
							<span>Action</span>
						</div>
					</div>
				</div>

				<div data-use-template='item-row'>
					<div class='section-table-row'>
						<div class='section-table-col'>
							{{include Admin/admin/__spinner}}
						</div>
					</div>
				</div>

			</div>
			<div class='section-pagination flex-center'>
				<div>
					<select class='select select-data' data-item-show data-item-table='{{$table}}'>
						<option value='10'>10</option>
						<option value='25'>25</option>
						<option value='50'>50</option>
						<option value='100'>100</option>
					</select>
				</div>
				<div class='flex-fill'></div>
				<div>
					Page <span data-item-list-page>1</span> of <span data-item-list-pages>1</span> | 
					Showing <span data-item-list-start>1</span> to <span data-item-list-end>1</span> 
					of <span data-item-list-count>1</span> entries 
					<button type='button' class='button-action' data-item-list-prev data-item-table='{{$table}}'>Previous</button>
					<button type='button' class='button-action' data-item-list-next data-item-table='{{$table}}'>Next</button>
				</div>
			</div>
		</div>
	</div>
{{/block}}

{{block scripts}}
	{{parent}}
	<script>
		item.addTable({

			name:'{{$table}}',
			list:{
				url:'{{$api}}',
				sortByField:'{{$sortByField}}',
				sortByDirection:'{{$sortByDirection}}',
				show:10,
				page:1
			},
			get:{
				url:'{{$api}}',
				get: function(container,data){
					{{for $fieldsGet as $field}}
						container.find('[data-name={{$field -> getName()}}]').html(data['{{$field -> getName()}}']);
					{{/for}}
				},
			},
			add:{
				url:'{{$api}}',
				form: '#item-data-form-add',
				action: function(form){
					var values = {};

					{{for $fieldsAdd as $field}}
						values.{{$field -> getName()}} = form.find('[name={{$field -> getName()}}]').val();
					{{/for}}
					return values;
				}
			},
			delete:{
				url:'{{$api}}',
				form: '#item-data-form-add',
			},
			edit:{
				url:'{{$api}}',
				get: function(container,data){
					{{for $fieldsEdit as $field}}
						container.find('[name={{$field -> getName()}}]').val(data['{{$field -> getName()}}']);
					{{/for}}
				},
				action: function(form){
					var values = {};

					{{for $fieldsEdit as $field}}
						values.{{$field -> getName()}} = form.find('[name={{$field -> getName()}}]').val();
					{{/for}}
					return values;
				}
			},
			template: {
				row: 'item-row'
			},

		});
	</script>
{{/block}}