{{extends Admin/admin/layout}}

{{block page-content}}

	<div class='templates' data-template='spinner-table'>

		<div class='table-row'>
			<div class='table-col'>
				{{include Admin/admin/__spinner}}
			</div>
		</div>

	</div>
	
	<!-- ALERT DETAILS -->
	<div class='templates' data-template='alert-details'>
		<li>{message}</li>
	</div>

	<!-- ALERT SUCCESS TEMPLATE -->	
	<div class='templates' data-template='alert-success'>
		<div class='alert alert-success'>{message}<ul>{details}</ul></div>
	</div>

	<!-- ALERT DANGER TEMPLATE -->
	<div class='templates' data-template='alert-danger'>
		<div class='alert alert-danger'>{message}<ul>{details}</ul></div>
	</div>


	{{include Admin/admin/tmpl/row ['fields' => $views -> fields('all')]}}

	{{include Admin/admin/modal/add ['fields' => $views -> fields('add')]}}
	{{include Admin/admin/modal/get ['fields' => $views -> fields('get')]}}
	{{include Admin/admin/modal/edit ['fields' => $views -> fields('edit')]}}
	{{include Admin/admin/modal/delete}}
	{{include Admin/admin/modal/delete_multiple}}

	<div class='page-section'>
		<div data-use-template='alert-global'></div>
	</div>

	<div class='page-row' data-item-table-container='{{$table}}'>
		<div class='page-section page-section-content'>


			<div class='section-header flex-center'>
				<h3 class='section-title'>Some content here...</h3>

				<div class='flex-fill'></div>
				
				<div class='section-actions'>


					<button type='button' class='button-action button-primary' data-modal='modal-item-add' data-modal-item-table='{{$table}}'>
						<i class='fa fa-plus'></i>
						<span>New</span>
					</button>

					<!--
					<button type='button' class='button-action button-primary' data-modal='modal-item-add' data-modal-item-table='{{$table}}'>
						<i class='fa fa-upload'></i>
						<span>Import</span>
					</button>

					<button type='button' class='button-action button-primary' data-modal='modal-item-add' data-modal-item-table='{{$table}}'>
						<i class='fa fa-download'></i>
						<span>Export</span>
					</button>
					-->

				</div>
			</div>
			

			<div class='section-pagination flex-center'>
				<div>If selected: &nbsp;</div>

				<button type='button' class='button-action button-danger' data-modal='modal-item-delete-multiple' data-modal-item-table='{{$table}}'>
					<i class='fa fa-trash'></i>
					<span>Delete</span>
				</button>
				<div> &nbsp;</div>
				<button type='button' class='button-action button-warning'>
					<i class='fa fa-pencil'></i>
					<span>Edit</span>
				</button>
				<div> &nbsp;</div>
				<button type='button' class='button-action button-primary'>
					<i class='fa fa-file-o'></i>
					<span>Copy</span>
				</button>
				<div> &nbsp;</div>

				<div class='flex-fill'></div>

				{{include Admin/admin/structure/table/pagination ['table' => $table]}}
			</div>

			<div class='table'>

				{{include Admin/admin/structure/table/head ['table' => $table,'fields' => $views -> fields('all')]}}
				{{include Admin/admin/structure/table/search ['table' => $table,'views' => $views]}}

				<div data-use-template='item-row'>
					<div class='table-row'>
						<div class='table-col'>
							{{include Admin/admin/__spinner}}
						</div>
					</div>
				</div>

			</div>
			<div class='section-pagination flex-center'>
				<div>
					<select class='select select-data' data-item-show data-item-table='{{$table}}'>
						<option value='10'>10</option>
						<option value='25'>25</option>
						<option value='50'>50</option>
						<option value='100'>100</option>
					</select>
				</div>
				<div class='flex-fill'></div>
				{{include Admin/admin/structure/table/pagination ['table' => $table]}}
			</div>
		</div>
	</div>
{{/block}}

{{block scripts}}
	{{parent}}

	<script>
		item.addTable({
			name:'{{$table}}',
			url:'{{$api}}',
			basic_url:'{{$api_url}}',
			list:{
				sort_by_field:'{{$sort_by_field}}',
				sort_by_direction:'{{$sort_by_direction}}',
				show:10,
				page:1,
				relations:{
					columns:{},
					ids:{},
					values:{},
					schema:{{json_encode($views -> view('all') -> getMinimalRelation())}}
				},
				relations_ids:{},
					
				get: function(container,table,results,columns){
					
					var rows = '';


					// Build the rows
					$.map(results,function(row){

						var record = {};

						{{for $views -> fields('all') as $field}}

							var data = row;
							var name = '{{$field -> getName()}}';

							{{for $field -> getRelations() as $n => $relation}}

							// -- Relation: {{$field -> getName()}}:{{$relation -> getName()}}

								{{if $url = $field -> getUrl($n)}}

									var relation = table.list.relations.values["{{$url}}"];
									if(data && data["{{$relation -> getColumn()}}"]){
										$.map(relation,function(value){
											if(value.{{$relation -> getObjectSchema() -> getPrimaryField() -> getName()}} == data["{{$relation -> getColumn()}}"]){
												data = value;
												return;
											}
										});
									}
									else
										data = null;


								{{/if}}
							{{/for}}

							if(typeof data == "undefined" || !data)
								var value = 'undefined';
							else
								var value = data.{{$field -> getLastRelation() -> getName()}};

							record[name] = value;
						{{/for}}


						record.table = table.name;
						rows += template.get(table.template.row,record);
					});

					template.setByHtml(rows,table.template.row);
					
				}
			},
			get:{
				get: function(container,data){
					{{for $views -> fields('get') as $field}}
						$('#modal-item-get').find('[data-name={{$field -> getSchema()-> getName()}}]').html(data['{{$field -> getSchema() -> getName()}}']);
					{{/for}}
				},
			},
			add:{
				form: '#item-data-form-add',
				action: function(form){
					var values = {};

					{{for $views -> fields('add') as $field}}
						values.{{$field -> getSchema() -> getName()}} = form.find('[name={{$field -> getSchema()-> getName()}}]').val();
					{{/for}}
					return values;
				}
			},
			delete:{
				form: '#item-data-form-add',
			},
			copy:{

			},
			edit:{
				get: function(container,data){
					{{for $views -> fields('edit') as $field}}
						$('#modal-item-edit').find('[name={{$field -> getSchema()-> getName()}}]').val(data['{{$field -> getSchema() -> getName()}}']);
					{{/for}}
				},
				action: function(form){
					var values = {};

					{{for $views -> fields('edit') as $field}}
						values.{{$field -> getSchema() -> getName()}} = form.find('[name={{$field -> getSchema() -> getName()}}]').val();
					{{/for}}
					return values;
				}
			},
			search:{
				data: {},
				action: function(form){
					var values = {};

					{{for $views -> fields('search') as $field}}
						if(form.find("[name='{{$field -> getName()}}']").val() !== '')
							values["{{$field -> getName()}}"] = form.find("[name='{{$field -> getName()}}']").val();
					{{/for}}
					return values;
				}
			},
			template: {
				row: 'item-row'
			},

		});
	</script>
{{/block}}