<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{block title}}Administration{{/block}}</title>

	<link rel='icon' type='image/x-icon' href='{{path}}assets/img/favicon.png'>
	<link rel='shortcut icon' type='image/x-icon' href='{{path}}assets/img/favicon.png'>

	{{block stylesheet}}
		<link rel='stylesheet' href='{{assets('assets/css/main.css')}}'>
		<link rel='stylesheet' href='{{assets('assets/css/nav.css')}}'>
		<link rel='stylesheet' href='{{assets('assets/css/input.css')}}'>
		<link rel='stylesheet' href='{{assets('assets/css/header.css')}}'>
		<link rel='stylesheet' href='{{assets('assets/css/font-awesome.css')}}'>
		<link rel='stylesheet' href='{{assets('assets/css/header.css','Auth')}}'>
		<link rel='stylesheet' href='{{assets('assets/css/main.css','Auth')}}'>
	{{/block}}

</head>
<body>

	{{block body}}

		{{block header}}
			<div id='header'>
				<div id='header-main'></div>
				{{include Auth/admin/header-nav}}
			</div>
		{{/block}}

		{{block container}}
			<div id='container'>

				{{block nav}}
					<div id='container-nav'>
						<div id='nav'>
							<div id='status'>
								<button class='button s cl_st'><span class='fa fa-list'></span></button>
							</div>
							<ul>
								<li data-menu='dashboard'>
									<a class='href r' href='{{Route::url('admin/dashboard')}}'>
										<span class='fa fa-home icon'></span>
										<span>Dashboard</span>
									</a>
								</li>
								{{include SystemInfo/admin/nav}}
							</ul>
						</div>
					</div>
				{{/block}}

				{{block content}}
					<div id='content'>
						<h1>Sample title</h1>
						<div>

							{{include Admin/admin/flash}}

						
						</div>
					</div>
				{{/block}}
			</div>
		{{/block}}
		
	{{/block}}
	
	{{block scripts}}
		<script src='{{path}}assets/js/jquery-2.1.4.min.js'></script>
		<script src='{{path}}assets/js/bootstrap.min.js'></script>
		<script src='{{path}}assets/js/main.js'></script>
		<script src='{{path}}assets/js/cookie.js'></script>
		<script src='{{path}}assets/js/nav.js'></script>
		<script src='{{path}}assets/js/element.js'></script>
	{{/block}}
</body>
</html>