<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>@block('title')Administration@endblock</title>

	@block('favicon')
		<link rel='icon' type='image/x-icon' href='{{assets('src/Admin/assets/img/favicon.png')}}'>
		<link rel='shortcut icon' type='image/x-icon' href='{{assets('src/Admin/assets/img/favicon.png')}}'>
	@endblock

	@block('stylesheet')

		<link rel='stylesheet' href='{{assets('src/Assets/font-awesome/font-awesome.css')}}'>

		<link rel='stylesheet' href='{{assets('src/Assets/modal/modal.css')}}'>
		<link rel='stylesheet' href='{{assets('src/Assets/alert/alert.css')}}'>
		<link rel='stylesheet' href='{{assets('src/Assets/layout/main.css')}}'>
		<link rel='stylesheet' href='{{assets('src/Assets/layout/ly.css')}}'>
		<link rel='stylesheet' href='{{assets('src/Assets/form/form.css')}}'>
		<link rel='stylesheet' href='{{assets('src/Assets/spinner/spinner.css')}}'>



		<link rel='stylesheet' href='{{assets('src/Auth/assets/css/main.css')}}'>
		<link rel='stylesheet' href='{{assets('src/Auth/assets/css/login.css')}}'>



		<link rel='stylesheet' href='{{assets('src/Admin/assets/css/main.css')}}'>

		<link rel='stylesheet' href='{{assets('src/Admin/assets/css/page.css')}}'>
		<link rel='stylesheet' href='{{assets('src/Admin/assets/css/nav.css')}}'>
		<link rel='stylesheet' href='{{assets('src/Admin/assets/css/section.css')}}'>
		<link rel='stylesheet' href='{{assets('src/Admin/assets/css/item.css')}}'>
		<link rel='stylesheet' href='{{assets('src/Admin/assets/css/autocomplete.css')}}'>
	@endblock

</head>
<body>

	@block('body')
		<div class='ly-container ly-container-layout'>

			<div class='ly-element-column ly-container-layout nav-container'>
				<div class='header nav-header'>
				
					@block('nav_head')
						<div class='ly-container-center nav-header-icon-container'>
							<i class='fa fa-glass' aria-hidden='true'></i>
						</div>
						<span class='nav-header-name'>Gate</span>
					@endblock

					<i class='fa fa-list nav-header-menu-icon' aria-hidden='true'></i>
				</div>
				<div class='nav-content'>
					@block('nav')
					@endblock
				</div>
			</div>
			<span></span>
			</span>
		</li>

			<div class='ly-element-column ly-container page-container'>
				<div class='header page-header'>
					<div class='page-header-main'></div>
					<div class='page-header-separator'></div>
					<div class='page-header-button ly-container-center'>{{Auth::getUserDisplay()}}</div>
					<div class='page-header-separator'></div>
					<div>
						<form method='GET' action="{{route('admin/logout')}}">
							<button type='submit'>
								<div class='page-header-button ly-container-center'><i class='page-header-icon fa fa-sign-out'></i> </div>
							</button>
						</form>
					</div>
				</div>
				<div class='page-content'>
					<div class='page-nav'>
						@block('page-nav')
							<div class='page-nav-path'>
								<i class='fa fa-home'></i>
								<div class='page-nav-path-sub'><i class='fa fa-angle-right'></i></div>
								<div class='page-nav-path-element'>Home</div>
							</div>
							<div class='page-title'>
								<h1>Title</h1>
							</div>
						@endblock
					</div>
					@block('page-content')
						<div class='page-row'>
							<div class='page-section'>
								Contenuto
							</div>
						</div>
					@endblock

				</div>
			</div>
		</div>
	@endblock
	
	@block('scripts')
		<script src='{{assets('src/Assets/jquery/jquery-2.1.4.min.js')}}'></script>

		<script src='{{assets('src/Assets/cookie/cookie.js')}}'></script>
		<script src='{{assets('src/Assets/modal/modal.js')}}'></script>
		<script src='{{assets('src/Assets/http/http.js')}}'></script>
		<script src='{{assets('src/Assets/template/template.js')}}'></script>
		<!--<script src='{{assets('src/Assets/alert/alert.js')}}'></script>-->


		<script src='{{assets('src/Admin/assets/js/api.js')}}'></script>
		<script src='{{assets('src/Admin/assets/js/nav.js')}}'></script>
		<script src='{{assets('src/Admin/assets/js/item/item.js')}}'></script>
		<script src='{{assets('src/Admin/assets/js/item/item.request.js')}}'></script>
		<script src='{{assets('src/Admin/assets/js/item/item.request.handle.js')}}'></script>
		<script src='{{assets('src/Admin/assets/js/item/item.autocomplete.js')}}'></script>
		<script src='{{assets('src/Admin/assets/js/item/item.modal.js')}}'></script>

		<script>
			nav.set('{{route()}}');
		</script>
	@endblock
</body>
</html>