{{extends layout-admin}}

{{block stylesheet}}
	{{parent}}
	<link rel='stylesheet' href='{{$path_auth}}/Resources/public/assets/css/main.css'>
{{/block}}

{{block body}}
	<div id='auth-container'>

		<h1 class='auth-title'>Gate CMS</h1>

		<br>

		<form method='POST'>
			<div>
				<div>
					<input type='text' name='{{$auth -> getData('user') -> name}}' value='{{$auth -> getData('user') -> value}}' class='auth-input' placeholder='{{$auth -> getData('user') -> label}}' required autofocus autocomplete='off'>
				</div>
				<div>
					<input type='password' name='{{$auth -> getData('pass') -> name}}' class='auth-input' placeholder='{{$auth -> getData('pass') -> label}}' required autocomplete='off'>
				</div>
				<div>

					<input type='submit' name='{{$auth -> getData('login') -> name}}' value='{{$auth -> getData('login') -> label}}' class='auth-button'>
					
				</div>
				<div class='auth-rememberme-container'>

					<input type='checkbox' id='rememberMe' name='{{$auth -> getData('remember') -> name}}' class='check b'>
					<label for='rememberMe' class='checkbox'></label>
					<label for='rememberMe'>{{$auth -> getData('remember') -> label}}</label>

				</div>
			</div>
		</form>

	</div>
{{/block}}
a