{{extends Admin/admin/layout}}

{{block stylesheet}}
	{{parent}}
	<link rel='stylesheet' href='{{assets('src/Admin/assets/css/auth/login.css')}}'>
{{/block}}

{{block body}}
	<div class='auth-container'>

		<h1 class='auth-title'>Gate CMS</h1>

		<br>

		<form method='POST'>
			<div>
				{{include Admin/admin/__flash}}
				<div>
					<input type='text' name='user' value="{{post('user')}}" class='auth-input' placeholder='Username or Email' required autofocus autocomplete='off'>
				</div>
				<div>
					<input type='password' name='pass' value='{{post('pass')}}' class='auth-input' placeholder='Password' required autocomplete='off'>
				</div>
				<div>

					<input type='submit' name='login' value='Login' class='auth-button'>
					
				</div>
				<div class='auth-rememberme-container'>

					<input type='checkbox' id='rememberMe' name='remember' class='check b'>
					<label for='rememberMe' class='checkbox'></label>
					<label for='rememberMe'>Remember me</label>

				</div>
			</div>
		</form>

	</div>
{{/block}}