<div class='templates' data-template='item-row'>
	<div class='table-row table-header'>
		<div class='table-col-select table-col'>
			<input type='checkbox' id='select-{table}-{id}' class='check check-data check-small' data-item-select data-item-id='{id}' data-item-table='{table}'>
			<label for='select-{table}-{id}' class='checkbox'></label>
		</div>
		@foreach($fields as $field)
			<div class='table-col 
				@if($field -> getSchema() -> isType('integer'))
					table-col-number
				@endif
				'>
				<span class='table-col-text'>{{brackets($field -> getName())}}</span>
			</div>
		@endforeach
		<div class='table-col table-col-action'>

			{# View Button #}
			<button type='button' class='button-action button-action-icon button-info' data-modal='modal-item-get' data-modal-item-id='{id}' data-modal-item-table='{table}'>
				<i class="fa fa-file-text"></i>
			</button>

			{# Copy Button #}
			<button type='button' class='button-action button-action-icon button-primary' data-item-copy data-item-id='{id}' data-item-table='{table}'>
				<i class="fa fa-copy"></i>
			</button>

			{# Edit Button #}
			<button type='button' class='button-action button-action-icon button-warning' data-modal='modal-item-edit' data-modal-item-id='{id}' data-modal-item-table='{table}'>
				<i class='fa fa-pencil'></i>
			</button>
				
			{# Delete Button #}
			<button type='button' class='button-action button-action-icon button-danger' data-modal='modal-item-delete' data-modal-item-id='{id}' data-modal-item-table='{table}'>
				<i class='fa fa-trash'></i>
			</button>
		</div>

	</div>
</div>