.alert{
	font-size: 13px;
	text-align: left;
}

.alert ul{
	margin:0;
}

.alert ul > li:first-child{
	margin-top:10px;
}

.alert li{
	margin-left:40px;
}

.alert-inactive{
	display:none;
}

.alert-success,.alert-danger,.alert-info,.alert-warning{
	padding: 18px;
	margin-bottom:10px;
	border:1px solid rgb(0,0,0);
}

.alert .title{
	display:flex;
	align-items:center;
}
.alert .title button{
 	margin:0 5px;
}

.alert-success{
	color: #3C763D;
  	background-color: #DFF0D8;
	border-color: #D6E9C6;
}

.alert-danger{
	color: #A94442;
  	background-color: #F2DEDE;
  	border-color: #EBCCD1;
}

.alert-warning{
	color: #8A6D3B;
	background-color: #FCF8E3;
	border-color: #FAEBCC;
}

.alert-info{
	color: #31708F;
	background-color: #D9EDF7;
	border-color: #BCE8F1;
}