<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Title</title>

	<link rel='icon' type='image/x-icon' href='{{path}}assets/img/favicon.png'>
	<link rel='shortcut icon' type='image/x-icon' href='{{path}}assets/img/favicon.png'>

	<?php echo 'YOHOOO'; ?>
	{{block stylesheet}}
		<link rel='stylesheet' href='{{assets('assets/css/main.css','Example')}}'>
	{{/block}}

	<?php echo 'YOHOOO'; ?>
</head>
<body>

	{{block body}}
		Welcome to Gate Framework
		<br><br>
		{{$yoho}}
	{{/block}}

	{{block scripts}}
		<script src='{{assets('assets/css/main.js','Example')}}'></script>
	{{/block}}
</body>
</html>