@embed('Admin/admin/__modal','modal-add')
	@block('__class')modal-body-small@endblock
	@block('id')modal-item-add@endblock
	@block('title')Add new row@endblock
	@block('content')
		<div class='alert-modal-add'></div>
		<form method='POST' item-data-form-add  data-item-table='{table}'>
			@foreach($fields as $field)
				<div class='item-form-label'>{{$field -> getLabel()}}:</div>
				<div class='item-form-input'>@include('Admin/admin/field',['table' => $table,'field' => $field,'extra_class' => 'item-form-element'])</div>
			@endforeach

			<div class='item-form-actions'><button type='submit' class='button-action button-primary'>Add</button></div>
		</form>
	@endblock
@endembed