{{includes Admin/admin/__modal modal-delete-multiple}}
	{{block __class}}modal-body-small{{/block}}
	{{block id}}modal-item-delete-multiple{{/block}}
	{{block title}}Are you sure?{{/block}}
	{{block content}}
		<form method='POST'>
			<div>The items <span class='data-modal-item-ids'></span> will be deleted</div>
			<div class='item-form-actions'>

				<button type='button' class='button-action button-primary' data-item-multiple-delete data-item-table='{table}'>
					<i class='fa fa-check'></i>
					<span>Yes</span>
				</button>
				<button type='button' class='button-action button-danger modal-close'>
					<i class='fa fa-remove'></i>
					<span>No</span>
				</button>
			</div>
		</form>
	{{/block}}
{{/includes}}