{{includes Admin/admin/__modal modal-edit}}
	{{block __class}}{{/block}}
	{{block id}}modal-item-edit{{/block}}
	{{block title}}Edit{{/block}}
	{{block content}}
		<div data-use-template='alert-modal-edit'></div>
		<form method='POST' item-data-form-edit data-item-table='{table}' data-item-id='{id}'>
			{{for $fields as $field}}
				<div class='item-form-label'>{{$field -> getLabel()}}:</div>
				<div class='item-form-input'><input type='text' class='input-data' name='{{$field -> getSchema() -> getName()}}'></div>
			{{/for}}

			<div class='item-form-actions'><button type='submit' class='button-action button-primary'>Apply changes</button></div>
		</form>
	{{/block}}
{{/includes}}